<form method="post" action="/genres/<%= @genre.id %>/edit">
  <label for="type">Type:</label>
  <input id="type" type="text" name="type" value =<%=@genre.type %> />
  <br/>

  <input type="submit" value="Edit Genre"/>

</form>