<h1>Genres</h1>
<br/>
<p><a href='/genres/new'> New Genre</a></p>
<br/>
<hr/>


<% @genres.each do |genre| %>
  <p><%= genre.type() %> </p>


<p><a href='/genres/<%= genre.id %>'> Show Genre</a></p>
<p><a href='/genres/<%= genre.id %>/edit'> Edit Genre</a></p>
<form method="post" action="/genres/<%= genre.id %>/delete">
<input type="submit" value="Delete Genre"/>
</form>

  <hr/>
<% end %>