<h1> Genre </h1>

  <p><%= @genre.type %> </p>


  <form method="post" action="/genres/<%= genre.id %>/delete">
  <input type="submit" value="Delete Genre"/>
  </form>

  <form method="get" action="/genres/<%= genre.id %>/edit">
  <input type="submit" value="Edit Genre"/>

  </form>

  <hr/>