<!DOCTYPE html>
<html>
<head>

  <title>Record Store</title>
  
  <link rel="icon" href="/images/1210.jpg" /> 
  <link rel="stylesheet" href="/styles/style.css">

</head>
<br/>

<body background="http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg">

<main class="flex flexy--row">
  <nav>
    <ul>
      <li>
        <a href="/artists">Artists</a>
      </li>
      <li>
        <a href="/genres">Genres</a>
      </li>
      <li>
        <a href="/albums">Albums</a>
      </li>
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>